---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/banner-foto.svg";
import Link from "@components/ui/link.astro";
import checkmarkImage from "assets/checkmark.png";
import logoBanner from "assets/logo-banner.png";
import Modal from "@components/Modal.astro";

let logoBannerSrc = String(logoBanner.src);
let checkmarkSrc = String(checkmarkImage.src);

---

<style>
    .bg-005A8D {
    background-color: #0149ad;
  }

  .bg-6E7C8A {
    background-color: #6E7C8A;
  }

  .text-golden-green {
        color: #f6cf0b; /* Ejemplo de un tono dorado-verde */
    }
    .text-strike-through {
        text-decoration: line-through;
        opacity: 0.6;
        font-size: 0.8em; /* Tamaño más pequeño */
    }
      .checkmark-list {
      list-style-type: none; /* Eliminar bullets de la lista */
    }

    .checkmark-list li {
    display: flex;
    align-items: center;
    font-size: 1.5em; /* Aumentar el tamaño del texto */
    margin-bottom: 1em; /* Espacio entre elementos */
  }
  .checkmark {
    margin-right: 0.5em; /* Espacio entre la imagen y el texto */
    width: 24px; /* Anchura de la imagen */
    height: 24px; /* Altura de la imagen */
  }
  .text-golden-checkmark {
    color: #DAA520; /* Color dorado */
  }
    .carousel {
    display: flex;
    overflow: hidden;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 100px;
    transition: transform 0.2s ease-in-out;
  }

</style>

<div class="bg-005A8D w-full m-0 p-0 flex justify-center">
  <div class="container mx-auto p-4 flex flex-col items-center text-white">
    <main class="grid lg:grid-cols-2 place-items-center pt-16 pb-2 md:pt-12 md:pb-6 w-full">
    
  
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Web Nexus - Creación de páginas web"
      widths={[200, 400, 600]}
      aspectRatio="16:9"
      sizes="(max-width: 1200px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  
  <div>

    <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold lg:tracking-tight xl:tracking-tighter text-005A8D" style="text-wrap:balance">
      Creamos la pagina WEB perfecta para Tu Negocio! <span class="text-golden-green">desde $159 Dlls</span> <span class="text-strike-through">$299</span>
     </h1>
    
    
    <!-- El párrafo en gris para ser neutro y complementar el título -->
    <p class="text-lg mt-4 max-w-xl text-6E7C8A">
      Web Nexus es tu socio ideal en la creación de soluciones web personalizadas para tu negocio. Construido con tecnologías de vanguardia, podemos llevar tu presencia en línea al siguiente nivel.
    </p>
    <br/>

    <ul class="checkmark-list">
      <li><img src={checkmarkSrc} alt="Checkmark" class="checkmark text-golden-checkmark"/> Lleva el mundo a tu sitio web</li>
      <li><img src={checkmarkSrc} alt="Checkmark" class="checkmark text-golden-checkmark"/> Sitios web responsivos y centrados en el usuario</li>
      <li><img src={checkmarkSrc} alt="Checkmark" class="checkmark text-golden-checkmark"/> Alcanza y expande tu audiencia</li>
      <li><img src={checkmarkSrc} alt="Checkmark" class="checkmark text-golden-checkmark"/> Te tenemos cubierto</li>
    </ul>

    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <!-- Los enlaces en verde claro para evocar innovación y acción -->


      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/contacto"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        
        Contacto
      </Link>
    </div>
  </div>
</main>
<div class="logo-banner-container w-full flex justify-center pb-5">
  <img src={logoBannerSrc} alt="logo-banner-frontend" class=""/>

</div>
</div>


